redirects: on
strategy: max
lowest_matching: false

source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Nake
nuget NuGet.CommandLine
nuget msdn.4.5.2 0.1.0-alpha-1611021200 

nuget NUnit 3.9.0
nuget NUnit.Runners 3.7.0
nuget NUnit3TestAdapter 3.9.0
nuget Microsoft.NET.Test.Sdk 15.5.0
nuget PowerAssert

nuget Autofac
nuget EventStore.ClientAPI.NetCore
nuget Newtonsoft.Json 10.0.3
nuget Streamstone

nuget Microsoft.CodeAnalysis.Analyzers 1.1.0
nuget Microsoft.CodeAnalysis.Common 2.2.0
nuget Microsoft.CodeAnalysis.CSharp 2.2.0
nuget System.Collections.Immutable 1.4
nuget System.Reflection.Metadata 1.5

nuget Microsoft.Orleans.Core 2.0.0-beta3
nuget Microsoft.Orleans.Core.Abstractions 2.0.0-beta3
nuget Microsoft.Orleans.OrleansAzureUtils 2.0.0-beta3
nuget Microsoft.Orleans.OrleansCodeGenerator 2.0.0-beta3
nuget Microsoft.Orleans.OrleansProviders 2.0.0-beta3
nuget Microsoft.Orleans.OrleansRuntime 2.0.0-beta3
nuget Microsoft.Extensions.DependencyInjection 2.0
nuget Microsoft.Extensions.DependencyInjection.Abstractions 2.0

nuget WindowsAzure.Storage 8.6.0
nuget Microsoft.Azure.KeyVault.Core
nuget Microsoft.Data.Edm
nuget Microsoft.Data.OData
nuget Microsoft.Data.Services.Client
nuget System.Spatial

nuget Hyperion
nuget Google.Protobuf