redirects: off
strategy: max
lowest_matching: false

source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Nake
nuget NuGet.CommandLine
nuget msdn.4.5.2 0.1.0-alpha-1611021200 

nuget NUnit 3.9.0
nuget NUnit.Runners 3.7.0
nuget NUnit3TestAdapter 3.9.0
nuget Microsoft.NET.Test.Sdk 15.5.0
nuget PowerAssert

nuget Autofac
nuget EventStore.ClientAPI.NetCore
nuget Newtonsoft.Json 11.0.2
nuget Streamstone

nuget Microsoft.CodeAnalysis.Analyzers 1.1.0
nuget Microsoft.CodeAnalysis.Common 2.8.2
nuget Microsoft.CodeAnalysis.CSharp 2.8.2
nuget System.Collections.Immutable
nuget System.Reflection.Metadata

nuget Microsoft.Extensions.Configuration 2.1.1
nuget Microsoft.Extensions.Options 2.1.1
nuget Microsoft.Extensions.Options.ConfigurationExtensions 2.1.1
nuget Microsoft.Extensions.DependencyInjection 2.1.1
nuget Microsoft.Extensions.DependencyInjection.Abstractions 2.1.1
nuget Microsoft.Extensions.Logging.Console 2.1.1

nuget Microsoft.Orleans.Core 2.4.1
nuget Microsoft.Orleans.Core.Legacy 2.4.1
nuget Microsoft.Orleans.Core.Abstractions 2.4.1
nuget Microsoft.Orleans.OrleansAzureUtils 2.4.1
nuget Microsoft.Orleans.OrleansCodeGenerator 2.4.1
nuget Microsoft.Orleans.OrleansProviders 2.4.1
nuget Microsoft.Orleans.OrleansRuntime 2.4.1
nuget Microsoft.Orleans.Runtime.Legacy 2.4.1
nuget Microsoft.Orleans.Clustering.AzureStorage 2.4.1
nuget OrleansDashboard 2.0.5

nuget WindowsAzure.Storage 9.2.0
nuget Microsoft.Azure.KeyVault.Core
nuget Microsoft.Data.Edm
nuget Microsoft.Data.OData
nuget Microsoft.Data.Services.Client
nuget System.Spatial

nuget Hyperion
nuget Google.Protobuf

nuget System.Threading.Tasks.Extensions 4.5.2
