framework: net451
redirects: on
strategy: max
lowest_matching: false

source https://api.nuget.org/v3/index.json

nuget FSharpx.Extras
nuget Nake
nuget NuGet.CommandLine

nuget NUnit 2.6.4
nuget NUnit.Runners 2.6.4
nuget PowerAssert

nuget FSharp.Core 4.0.0.1
nuget FsPickler 1.2.5
nuget Suave 0.31.0

nuget Antlr 3.5.0.2
nuget Microsoft.AspNet.Mvc 5.2.0
nuget Microsoft.AspNet.Razor 3.2.0
nuget Microsoft.AspNet.SignalR 2.0.0
nuget Microsoft.AspNet.SignalR.Core 2.1.2
nuget Microsoft.AspNet.SignalR.JS 2.0.1
nuget Microsoft.AspNet.SignalR.SystemWeb 2.0.1
nuget Microsoft.AspNet.Web.Optimization 1.1.3
nuget Microsoft.AspNet.WebPages 3.2.0
nuget Microsoft.jQuery.Unobtrusive.Validation 3.2.0
nuget jQuery 1.10.2
nuget jQuery.Validation 1.11.1
nuget bootstrap 3.0.0
nuget Modernizr 2.6.2
nuget Respond 1.2.0
nuget WebGrease 1.5.2
nuget Microsoft.Owin 2.0.1
nuget Microsoft.Owin.Host.SystemWeb 2.0.0
nuget Microsoft.Owin.Security 2.0.1
nuget Microsoft.Web.Infrastructure 1.0.0.0
nuget Owin 1.0

nuget Autofac 3.5.2
nuget EventStore.Client 3.0.2
nuget Newtonsoft.Json 7.0.1
nuget Streamstone 0.9.5.0

nuget Microsoft.CodeAnalysis.Analyzers 1.1.0
nuget Microsoft.CodeAnalysis.Common 1.3.2
nuget Microsoft.CodeAnalysis.CSharp 1.3.2
nuget System.Collections.Immutable 1.1.37
nuget System.Reflection.Metadata 1.2.0

nuget Microsoft.Orleans.Core 1.3.1
nuget Microsoft.Orleans.OrleansAzureUtils 1.3.1
nuget Microsoft.Orleans.OrleansCodeGenerator 1.3.1
nuget Microsoft.Orleans.OrleansProviders 1.3.1
nuget Microsoft.Orleans.OrleansRuntime 1.3.1
nuget Microsoft.Extensions.DependencyInjection 1.0.0
nuget Microsoft.Extensions.DependencyInjection.Abstractions 1.0.0

nuget WindowsAzure.Storage 7.0.0
nuget Microsoft.WindowsAzure.ConfigurationManager 2.0.3
nuget Microsoft.Azure.KeyVault.Core 1.0.0
nuget Microsoft.Data.Edm 5.6.4
nuget Microsoft.Data.OData 5.6.4
nuget Microsoft.Data.Services.Client 5.6.4
nuget System.Spatial 5.6.4