<div class="container">
    
    <form method="POST" action="">
        <h5># Grains: </h5>
        @Html.TextBox("publishers")
        <input type="Submit" name="Spawn" value="Spawn" />
    </form>

</div>

